@media (min-width:1540px) {
    /*---------------------------------INTRO---------------------------------*/
    .intro__background {
        height: 940px;
    }
    .intro__container {
        height: 770px;
    }
    /*---------------------------------DOWNLOAD---------------------------------*/
    .download__container {
        height: 450px;
    }
    /*---------------------------------FOOTER---------------------------------*/
    .footer {
        height: 300px;
    }
}



@media (max-width:1020px) {
    /*---------------------------------HEADER---------------------------------*/
    .nav__social {
        width: 12%;
    }
    /*---------------------------------INTRO---------------------------------*/
    .intro__background {
        height: 1410px;
        border-radius: 0 0 50% 50% / 0 0 5% 5%;
    }
    .intro__container {
        flex-direction: column;
        justify-content: space-evenly;
        height: 1220px;
    }
    /*---------------INTRO top side---------------*/
    .intro__info {
        align-items: center;
        flex: 0 0 30%;
        max-width: 460px;
    }
    .intro__info-title {
        text-align: center;
    }
    .intro__info-text {
        text-align: center;
    }
    /*---------------INTRO down side---------------*/
    .prewiew {
        width: 80%;
        flex: none;
    }

    /*---------------MAIN features---------------*/
    .features {
        column-gap: 50px;
    }
    .advantage {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .advantage__img img {
        width: 100px;
    }
    .advantage__text {
        align-items: center;
    }
    .advantage__text-description {
        text-align: center;
    }
    /*---------------MAIN screenshots---------------*/
    .screenshots__block {
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 100px;
    }
    .screen {
        width: 80%;
    }
    .descript {
        align-items: center;
    }
    .descript_right {
        margin-left: 0;
    }
    .descript__title {
        font-size: 1.9rem;
    }
    .descript__text {
        width: 80%;
        text-align: center;
        font-size: 1.3rem;
    }
}